body {
    text-align: center;
    justify-content: center;
    align-items: center;
}
header {
    top: 10px;
    position: sticky;
    background-color: white;
    padding: 10px;
}
.headerButton {
    text-decoration: none;
    font-size: large;
    color: black;
    display: inline-block;
    margin: 20px;
}
.headerButton:after {
  display:block;
  content: '';
  border-bottom: solid 2px #B1040E;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.headerButton:hover:after { transform: scaleX(1); }
.headerButton.fromRight:after{ transform-origin:100% 50%; }
.headerButton.fromLeft:after{  transform-origin:  0% 50%; }

img {
    max-width: 1500px;
}
.other-block {
    height: 5000px;
    margin-top: 20px;
    width: 100%;
    background-color: rgba(255, 145, 0, 0.493);
  }
.another_block{
    height: 1000px;
    margin-top: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
}
.And_another_block{
    height: 100px;
    margin-top: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
}
