body {
    text-align: center;
}
header {
    position: sticky;
    background-color: f4f4f4;
    paddin: 20px;
}
.headerButton {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.headerButton:hover {
    text-decoration: underline;
    color; red;
}
