body {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}
.imgIndex {
    max-width: 100%;
    width: 100vw;
    margin: 0px;
    padding: 0px;

}
header {
    display:flex;
    align-content: center;
    top: 0px;
    position: sticky;
    background-color: white;
    padding: 20px;
}

.navBar {
    position: relative;
    margin-left: 50px;
}
.headerLogo {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    background-color: #B1040E;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: x-large;
}
.headerLogo img {
    max-width: 20px;
    margin-right: 10px;
}
.headerButton{
    text-decoration: none;
    font-size: x-large;
    color: black;
    display: inline-block;
    margin: 20px;
}
.headerButton:after {
  display:block;
  content: '';
  border-bottom: solid 2px #B1040E;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.headerButton:hover:after { transform: scaleX(1); }
.headerButton.fromRight:after{ transform-origin:100% 50%; }
.headerButton.fromLeft:after{  transform-origin:  0% 50%; }
.other-block {
    height: 5000px;
    margin-top: 20px;
    width: 100%;
    background-color: rgb(61, 61, 61);
  }
  .another_block{
    height: 1000px;
    margin-top: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
}
.And_another_block{
    height: 100px;
    margin-top: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
}
footer {
    text-align: center;
    background: linear-gradient(#771212, #620f0f);
}
footer p {
    color: white;
}
.principalButton {
    text-decoration: none;
    background-color: #B1040E;
    padding:10px;
    border-radius: 10px;
    color: white;
}

.card {
    border: solid black 2px;
    margin: 20px;
    background-color: white;         
    position:relative;          
}
.cardDate {
    font-size: x-large;
    top: -40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    width:  50px;
    aspect-ratio: 1 / 1;
    position: relative;
    background-color: black;
    color: white;
}
.cardContent {
    position: relative;
    background-color: white;
    text-align: left;
    padding-left: 10px;
    top: -40px;
}
.cardContent h1{
    font-size: xx-large;
}
.cardImg {
    position: relative;
}
.card-list {
    display: flex;
    align-content: center;
    padding: 20px;
}